@font-face {
	font-family: 'yekan';
	src: url('yekan.eot?-wwn5ej');
	src: url('yekan.eot?#iefix-wwn5ej') format('embedded-opentype'),
	url('yekan.woff?-wwn5ej') format('woff'),
	url('yekan.ttf?-wwn5ej') format('truetype'),
	url('yekan.svg?-wwn5ej#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
